@model NewPasswordViewModel
@{
   Layout = "_Layout";
}

<div class="d-flex justify-content-center">
  <h2>Enter New Passrod</h2>  
</div>
<hr>
<divd-flex justify-content-center" >
<form asp-action="ResetPasswordConfirm" method="post">
  <div class="form-group">
    <label for="exampleInputPassword1">Choose wisely</label>
    <input asp-for="Password" type="password" class="form-control" id="newPassword" placeholder="Enter new password">
  </div>
  <button type="submit" class="btn btn-outline-primary btn sm">Save</button>
</form>
</div>
