@model List<User>

@{
    Layout = "_AdminLayout";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var user in Model) 
            {
                <tr>
                    <th>@user.Id</th>
                    <th>@user.UserName</th>
                    <th>@user.Email</th>
                </tr>
            }
        }else{
             <div class="d-flex justify-content-center">Hiç bir üye yok..</div>
        }
    </tbody>
</table>
      